@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-text-light-1);
  transition: 0.4s;
  padding: 3px;
}

@media (prefers-color-scheme: dark) {
  a,
  .green {
    text-decoration: none;
    color: var(--vt-c-blue-light);
    transition: 0.4s;
    padding: 3px;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: #25343F;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
